<configuration>

    <!-- Appender archivo general para servicios -->
    <appender name="SERVICE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/services.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/services.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logger para todos los servicios -->
    <logger name="com.fram.insurance_manager.service.impl" level="INFO" additivity="false">
        <appender-ref ref="SERVICE_LOG"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Appender consola -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root solo consola para el resto del sistema -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
